/* SCSS HSL */
@use "./styles/grid.scss";
/* SCSS HSL */
$jet: hsla(0, 0%, 21%, 1);
$gunmetal: hsla(216, 28%, 20%, 1);
$satin-sheen-gold: hsla(43, 59%, 52%, 1);
$satin-sheen-gold1: hsla(43, 59%, 52%, 0.8);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
// $gradient-rights: linear-gradient(90deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-rights: linear-gradient(90deg, #e5e5e5ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);
$gradient-radial: radial-gradient(#363636ff, #242f40ff, #cca43bff, #e5e5e5ff, #ffffffff);


body {
  background-color: whitesmoke;
}


.landing {
   background-image: $gradient-rights;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.landingMinimum {
  background-image: $gradient-rights;
  height:100vh;
  display: flex;
  margin: 0 auto;
  // padding-left: 12px;
  justify-content: center;
  align-items: center;
}

.pageHolder {
    // max-width: 800px;
    display: flex;
    max-width: 800px;
    height: auto;
    padding: 3rem 0;
    // border: 0.4px solid $dark-purple;
    border-radius:20px ;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // border: 2px solid $dark-purple;
    // border-radius: 30px;
}
.descPage {
    max-width: 400px;
    padding-top: 2rem;
    background-color: $gunmetal;
    height: auto;
    border-radius:20px 0px 0px 20px ;
}

.imageResponsive {
    width: 100%;
    height: auto;
    max-width: 380px;
    max-height: 310px;
    // padding: 1rem 2rem 0rem 1rem;
}

.captionText {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: yellow;
    padding: 1rem 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.forgot {
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
    color: $satin-sheen-gold;
}

.actionPage {
    padding: 2rem 3rem;
    background-color: $satin-sheen-gold;
    border-radius: 20px 20px 20px 20px;
    color: white;
}

.actionButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
    margin-top:1.3rem ;
}

// input[type=text] {
//     padding:10px;
//     border:0;
//     background-color: inherit;
//     border-bottom: 0.1px $jet solid;
//     outline: none;
//     font-size: 1.2rem;
//     font-weight: bolder;
//     color: $satin-sheen-gold;
//     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//   }






  .column {
    display: flex;
    flex-direction: column;
  }


  // input[type=password] {
  //   padding:10px;
  //   border:none;
  //   background-color: inherit;
  //   border-bottom: 0.1px $jet solid;
  //   outline: none;
  //   font-size: 1.2rem;
  //   font-weight: bolder;
  //   color: $satin-sheen-gold;
  //   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // }

  // input[type=password]::before {
  //   color: red;
  // }

  input[type=number] {
    width: 250px;
    padding: 1rem 1rem;
    background-color: inherit;
    border: 0;
    outline: none;
    font-size: 1.4rem;
    font-weight: bolder;
    color: $gunmetal;
    border: 1px rgb(22, 22, 22) solid;
    // border-radius: 13px;
  }

  ::placeholder {
    color: $gunmetal;
    font-weight: lighter;
    
    
  }

  // ::placeholder , #amountInput {
  //   color: $gunmetal;
  //   font-weight: bolder;
  //   font-size: 1.3rem;
  // }

  .hide {
    display: none;
  }

  .subTexts {
    padding: 0 !important;
    margin: 1.2rem 0 !important;
    color: $jet;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
  }

.textes {
  text-align: center;
  color: $gunmetal;
  align-items: center;
  padding-top: 3rem;
  
}

#error-page {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-image: $white;
  color: $gunmetal;
  height: 100vh;

}

.bgDash {
  background-image: $gradient-rights;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: $platinum;

}

.dashStyles {
  height: 100vh;
  // background-image: $gradient-rightss;
  // background-color: #caf0f8;
  background-color: rgba(255, 254, 254, 0.068);
}

.header {
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  background-color: $satin-sheen-gold1;
}

.responsiveIcon {
  width: 32px;
  height: 32px;
  width: 100%;
}

.border {
  border: 2px red solid;
}

.dashIcon {
  height: 20%;
  // border: 2px red solid;
  display: flex;
  justify-content: center;
}

.currentUnit{
  text-align: center;
  font-size: 1.9rem;
  padding: 0.1rem;
  font-weight: bolder;
  color: rgb(255, 102, 0);
}

// .gauge {
//   // width: 100%;
//   // height: auto;
// }

.iconSized{
  width: 70px;
  height: 70px;
}

.capT {
  font-size: 1.2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.menus{
  display: flex;
  border: 2px red solid;
  padding: 2rem;
  justify-content: space-between;
}

.flexrow {

  display: flex;
  width: 200px;
  // border: 2px saddlebrown solid;
}

.padAll {
  padding: 1rem;
  // border: 4px orange solid;
  display: flex;
  align-items: center;
  // background-color: $icterine;
  background-image: $gradient-rights;
  border-radius: 12px ;
  // background-color: saddlebrown;
}

.padTop{
  padding: 1rem 0;
  
}

.centerT{
  text-align: center;
  color: $gunmetal;
}

.center{
  margin: 0 auto;
  display: flex;
}


.compCopy {
  text-align: center;
  position: absolute;
  bottom: 0;
  font-weight: bolder;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}

.wrap {
  // height: 100px;
  padding: 1rem 0 ;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

}

.wrap span {
  align-self: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: $gunmetal;
}

.buy {
  height: 100vh;
  background-color: whitesmoke;
}

.cent {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.buyBut {
  background-image: $gradient-rights !important;
  border: 2px magenta solid;

}


.cents {
  display: flex;
  justify-content: center;
}

.centT {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  color: $platinum;
}

.infoDesc {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 5px;
  border-bottom: 0.1px solid $gunmetal;
}
.infoDesc2 {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 2px;
}

.name {
color: $jet;
}

.namespec {
  color: $satin-sheen-gold;
}

.textSuccFail {
  color:$jet;
  border-left: 2px $jet solid;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
  margin-left: 1rem;
  padding-left: 0.2rem;
}

.PadTopss {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: $jet;
  text-transform: capitalize;
  color: blue;
}

body{
  background-color: rgba(250, 232, 232, 0.514);
}

.bgImgs {
  height: 67vh;
  margin: 0.3rem 0.8rem;
}

.bgsim {
  max-width: 100%;
  height: auto;
  opacity: 0.1;
}

.toppos {
  position: absolute;
  top: 28vh;
  margin: 0 auto;
}

label {
  font-size: 1.4rem;
  font-weight: bolder;
  color: rgb(2, 0, 128);
}

label > input[type=text]  {
  padding:5px;
  border:0;
  background-color: inherit;
  border: 0.1px blue solid;
  margin-left: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: $gunmetal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label > input[type=password]  {
  padding:5px;
  border:0;
  background-color: inherit;
  border: 0.1px blue solid;
  margin-left: 0.8rem;
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: $gunmetal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tys {
  margin-top: 1rem;
}

.centeredTexts {
  text-align: center;
  font-size: 1.3rem;
  font-weight: lighter;
  color: $gunmetal;
  font-style: italic;

}
.leftSized {
  padding-top: 1rem;
}

.centered{
  text-align: center;
  color: $jet;
}

.centerBox {
  display: flex;
  justify-content: center;
}

#model {
  border: 1px $gunmetal solid !important;
}

#models  {
  color: $satin-sheen-gold;
}

.dashIcons {
  height: 30%;
  display: flex;
  justify-content: center;
}

.buys {
  height: 70vh;
}


.boxedS {
  border-left: 2px $satin-sheen-gold solid;
  border-right:2px $satin-sheen-gold solid; ;
  border-bottom: 0.1px $gunmetal solid;
  padding: 0 !important;
  margin: 0 20px;
}